.App {
 display:flex;
 align-items: center;
 flex-direction: column;
 max-width:680px;
 background-color:#fff8dc;
 height: 100vw;
 margin:0 auto;
}

.item.completed{
  color:rgb(171, 166, 154);
  text-decoration: line-through;
}

.contentWrapper{
  width:90%;
}


.formWrapper {
  display: flex;
  flex-direction: column;
  border:2px solid darkslategray;
  padding: 14px;
  border-radius: 4px;
}

div.MuiFormControl-root.MuiTextField-root{
  width:50%;
}

.MuiButton-outlined.MuiButton-outlinedPrimary{
  margin:12px;
}

.MuiButton-contained.MuiButton-containedSecondary{
  margin: 24px 0 ;
}

.item{
  font-size: 1.5em;
  line-height: 2;
}